# This file is used to setup options for the various Xymon
# CGI programs. It is loaded by the hobbit-cgi/*.sh wrapper
# scripts, and one environment variable is then passed to
# the command line used for each tool.

# NOTE: This file is parsed by the shell interpreter.
# So the usual "include" and "directory" definitions 
# will not work in this file.

HOBBITENV=@BBHOME@/etc/hobbitserver.cfg

# bb-csvinfo.cgi
CGI_CSVINFO_OPTS="--env=$HOBBITENV"
# hobbitcolumn.sh (uses bb-csvinfo.cgi)
CGI_HOBBITCOLUMN_OPTS="--env=$HOBBITENV --color=purple --hffile=columndoc"
# bb-findhost.cgi
CGI_FINDHOST_OPTS="--env=$HOBBITENV"

# hobbitsvc.cgi options for a normal (current) status display
CGI_SVC_OPTS="--env=$HOBBITENV --no-svcid --history=top"

# bb-hist.cgi options (service history overview)
CGI_HIST_OPTS="--env=$HOBBITENV --no-svcid"
# hobbitsvc.cgi options for a historical status display
CGI_SVCHIST_OPTS="--env=$HOBBITENV --no-svcid"

# hobbitgraph.cgi options
CGI_HOBBITGRAPH_OPTS="--env=$HOBBITENV"

# hobbitgraph.cgi options
CGI_HOSTGRAPHS_OPTS="--env=$HOBBITENV"

# hobbit-confreport.cgi options
CGI_HOBBITCONFREPORT_OPTS="--env=$HOBBITENV"

# bb-datepage.cgi options
CGI_DATEPAGE_OPTS="--env=$HOBBITENV --url=/xymon/periodic"
# bb-rep.cgi options
CGI_REP_OPTS="--env=$HOBBITENV"
# bb-replog.cgi options
CGI_REPLOG_OPTS="--env=$HOBBITENV"
# bb-snapshot.cgi options
CGI_SNAPSHOT_OPTS="--env=$HOBBITENV"
# bb-eventlog.cgi options
CGI_EVENTLOG_OPTS="--env=$HOBBITENV"
# hobbit-nkview.cgi options
CGI_NKVIEW_OPTS="--env=$HOBBITENV"
# hobbit-nkedit.cgi options
CGI_NKEDIT_OPTS="--env=$HOBBITENV"
# hobbit-ackinfo.cgi options
CGI_ACKINFO_OPTS="--env=$HOBBITENV"
#hobbit-ghosts.cgi options
CGI_GHOSTS_OPTS="--env=$HOBBITENV"

# bb-ack.cgi options
CGI_ACK_OPTS="--env=$HOBBITENV --no-pin"
# hobbit-enadis.cgi options
CGI_ENADIS_OPTS="--env=$HOBBITENV"

# hobbit-hostlist options
CGI_HOSTLIST_OPTS="--env=$HOBBITENV"
# hobbit-notifylog options
CGI_NOTIFYLOG_OPTS="--env=$HOBBITENV"
# hobbit-perfdata options
CGI_PERFDATA_OPTS="--env=$HOBBITENV"
# hobbit-topchanges options
CGI_TOPCHANGE_OPTS="--env=$HOBBITENV --top"
# hobbit-useradm options
CGI_USERADM_OPTS="--env=$HOBBITENV"

