#!/bin/sh

# This is the bbgen drop-in replacement for the Big Brother hostsvc
# script, bb-hostsvc.sh
# It is the Hobbit version

@RUNTIMEDEFS@ exec @BBHOME@/bin/bb-hostsvc.cgi --env=@BBHOME@/etc/hobbitserver.cfg --hobbitd --no-svcid --history=top

