#!/bin/sh

# This is the Xymon CGI script interface to confreport.cgi
#
# Install this script in your webservers' cgi-bin directory

. @BBHOME@/etc/cgioptions.cfg
@RUNTIMEDEFS@ exec @BBHOME@/bin/confreport.cgi $CGI_CONFREPORT_OPTS

