#!/bin/sh

# This is the Xymon CGI script interface to hobbitgraph.cgi
#
# Install this script in your webservers' cgi-bin directory

. @BBHOME@/etc/hobbitcgi.cfg
@RUNTIMEDEFS@ exec @BBHOME@/bin/hobbitgraph.cgi $CGI_HOBBITGRAPH_OPTS

