#!/bin/sh

# This uses the statusreport.cgi to provide a list
# of all non-green statuses with a brief summary of what is wrong.

. @XYMONHOME@/etc/cgioptions.cfg

@RUNTIMEDEFS@ exec @XYMONHOME@/bin/statusreport.cgi \
	--filter="color=red,yellow" --all \
	--heading="All non-green systems" \
	--show-column \
	--show-summary \
	--link

