#!/bin/sh

# This is the Xymon CGI script interface to showgraph.cgi
#
# Install this script in your webservers' cgi-bin directory

. @BBHOME@/etc/cgioptions.cfg
@RUNTIMEDEFS@ exec @BBHOME@/bin/showgraph.cgi $CGI_HOBBITGRAPH_OPTS

