#!/bin/sh

# This is the wrapper for svcstatus.cgi when viewing a 
# a historical logfile.

. @BBHOME@/etc/cgioptions.cfg
@RUNTIMEDEFS@ exec @BBHOME@/bin/svcstatus.cgi $CGI_SVCHIST_OPTS --historical

