var MENU_ITEMS = [
	['Views', null, null,
		['Main view', '@BBHOSTURL@/bb.html'],
		['All non-green view', '@BBHOSTURL@/bb2.html'],
		['Critical systems', '@BBCGIURL@/hobbit-nkview.sh'],
	],
	['Reports', null, null,
		['Event log Report', '@BBCGIURL@/bb-eventlog.sh'],
		['Availability Report', '@BBCGIURL@/bb-rep.sh'],
		['Snapshot Report', '@BBCGIURL@/bb-snapshot.sh'],
		['Config Report', '@BBCGIURL@/hobbit-confreport.sh'],
		['Config Report (Critical)', '@BBCGIURL@/hobbit-confreport-critical.sh'],
		['Metrics Report', '@BBCGIURL@/hobbit-hostgraphs.sh'],
		['Ghost Clients', '@BBCGIURL@/hobbit-ghosts.sh'],
		['Notification Report', '@BBCGIURL@/hobbit-notifylog.sh'],
	],
	['Administration', null, null,
		['Find host', '@BBCGIURL@/bb-findhost.sh'],
		['Acknowledge alert', '@SECUREBBCGIURL@/bb-ack.sh'],
		['Enable/disable', '@SECUREBBCGIURL@/hobbit-enadis.sh'],
		['Edit critical systems', '@SECUREBBCGIURL@/hobbit-nkedit.sh'],
	],
        ['Help', null, null,
		['About Xymon', '@BBHOSTURL@/help/about.html'],
		['Installing Xymon', '@BBHOSTURL@/help/install.html'],
		['Configuring Monitoring', '@BBHOSTURL@/help/hobbit-config.html'],
		['Configuring Alerts', '@BBHOSTURL@/help/hobbit-alerts.html'],
		['Critical systems', '@BBHOSTURL@/help/criticalsystems.html'],
		['Known problems', '@BBHOSTURL@/help/known-issues.html'],
		['Tips and Tricks', '@BBHOSTURL@/help/hobbit-tips.html'],
		['Custom graphs', '@BBHOSTURL@/help/howtograph.html'],
		['Xymon man-pages', '@BBHOSTURL@/help/manpages/'],
        ],
];

