<html>
<head>
	<title>Hobbit Tips and Tricks</title>
</head>
<body>
<h1>Hobbit Tips and Tricks</h1>

<p>Here you will find out how to do some common questions
raised with Hobbit.<br>
<ul>
	<li><a href="#icons">What do the different red/yellow/green icons mean ?</a></li>
	<li><a href="#noclient">Client side tests are missing</a></li>
	<li><a href="#clientnames">Clients using odd hostnames</a></li>
	<li><a href="#droprename">Renaming and deleting hosts</a></li>
	<li><a href="#apachetest">I cannot get the Apache graphs to work</a></li>
	<li><a href="#updatefreq">Updating more frequently</a></li>
</ul></p>

<a name="icons">
<h3>What do the little red/yellow/green icons mean ?</h3>
<table align="center" border=1>
	<tr><th align=left valign=top>Color</th><td>Recently changed</td><td>Last change &gt; 24 hours</td></tr>
	<tr><th align=left valign=top>Green: Status is OK</th><td align=center><img src="@BBHOSTURL@/gifs/green-recent.gif"></td><td align=center><img src="@BBHOSTURL@/gifs/green.gif"></td></tr>
	<tr><th align=left valign=top>Yellow: Warning</th><td align=center><img src="@BBHOSTURL@/gifs/yellow-recent.gif"></td><td align=center><img src="@BBHOSTURL@/gifs/yellow.gif"></td></tr>
	<tr><th align=left valign=top>Red: Critical</th><td align=center><img src="@BBHOSTURL@/gifs/red-recent.gif"></td><td align=center><img src="@BBHOSTURL@/gifs/red.gif"></td></tr>
	<tr><th align=left valign=top>Clear: No data</th><td align=center><img src="@BBHOSTURL@/gifs/clear-recent.gif"></td><td align=center><img src="@BBHOSTURL@/gifs/clear.gif"></td></tr>
	<tr><th align=left valign=top>Purple: No report</th><td align=center><img src="@BBHOSTURL@/gifs/purple-recent.gif"></td><td align=center><img src="@BBHOSTURL@/gifs/purple.gif"></td></tr>
	<tr><th align=left valign=top>Blue: Disabled</th><td align=center><img src="@BBHOSTURL@/gifs/blue-recent.gif"></td><td align=center><img src="@BBHOSTURL@/gifs/blue.gif"></td></tr>
</table>

<a name="noclient">
<h3>My client-side tests dont show up on the webpages</h3>
<p>Did you install a client ? It is not included with Hobbit, so you
need to install the Big Brother client for client side tests.</p>

<p>If you did, then the two most probable causes for this are:
<ul>
	<li>The client is using another hostname than what is in the bb-hosts file.<br>
	Hobbit only cares about the hosts that are in the bb-hosts file, and
	discards status-reports from unknown hosts. If you check the "hobbitd"
	column on the webserver display for the Hobbit server, you will see 
	a report about these unknown hosts.<br>
	Either reconfigure the client to use the same hostname as is in the
	bb-hosts file, or add a <tt>CLIENT:clienthostname</tt> tag in the
	bb-hosts file so Hobbit knows what host matches the client hostname.</li>

	<li>A firewall is blocking the client access to the Hobbit server.<br>
	Clients must be able to connect to the Hobbit server on TCP port 1984
	to send their status reports. If this port is blocked by a firewall,
	client status reports will not show up.<br>
	If possible, open up the firewall to allow this access. Alternatively,
	you may setup a proxy using the <em>bbproxy</em> tool (part of Hobbit)
	to forward status messages from a protected network to the Hobbit
	server.<br>
	Other methods are also possible, e.g. <em>bbfetch</em> (available from
	the <a href="http://www.deadcat.net/">www.deadcat.net</a> archive.
</ul></p>

<a name="clientnames">
<h3>My silly clients are using a hostname different from the one in bb-hosts</h3>
<p>Add a <tt>CLIENT:clienthostname</tt> tag to the host entry in the bb-hosts file,
or re-configure the client to use the proper hostname.</p>


<a name="droprename">
<h3>Where are the bbrm and bbmv commands from Big Brother ?</h3>
<p>They have been integrated into the Hobbit network daemon. See
the next two questions.</p>


<h3>I accidentally added an 'ftp' check. Now I cannot get it off the webpage!</h3>
<p>Use the command
<pre>
    ~/server/bin/bb 127.0.0.1 "drop HOSTNAME ftp"
</pre>
to permanenly remove all traces of a test. Note that you need the quotes
around the &quot;drop HOSTNAME ftp&quot;.</p>


<h3>So how do I get rid of an entire host in Hobbit?</h3>
<p>First, remove the host from the ~/server/etc/bb-hosts file. Then use the command
<pre>
    ~/server/bin/bb 127.0.0.1 "drop HOSTNAME"
</pre>
to permanenly remove all traces of a host. Note that you need the quotes
around the &quot;drop HOSTNAME&quot;.</p>


<h3>How do I rename a host in the Hobbit display?</h3>
<p>First, change the ~/server/etc/bb-hosts file so it has the new name.
Then to move your historical data over to the new name, run
<pre>
    ~/server/bin/bb 127.0.0.1 "rename OLDHOSTNAME NEWHOSTNAME"
</pre></p>


<a name="apachetest">
<p>Charles Jones provided this recipe on the Hobbit mailing list:</p>
<pre><tt>
From: Charles Jones
Date: Sun, 06 Feb 2005 21:28:19 -0700
Subject: Re: [hobbit] Apache tag

Okay, first you must make the indicated addition to your apache
httpd.conf (or you can make a hobbit.conf in apaches conf.d directory).
[ed: See the bb-hosts man-page for the "apache" description]

Then, you must restart apache for the change to take effect
(/etc/init.d/httpd restart).

Then, manually test the server-stats url to make sure it's working, by
using your browser and going to
http://your.server.com/server-status?auto  (you can also go to
http://your.server.com/server-status/ to get some nice extended apache
performance info).  You should get back something like this:

Total Accesses: 131577
Total kBytes: 796036
CPULoad: 1.0401
Uptime: 21595
ReqPerSec: 6.09294
BytesPerSec: 37746.7
BytesPerReq: 6195.16
BusyWorkers: 43
IdleWorkers: 13

Scoreboard: RR__RWR___RR_R_RR_RRRRRRRRR_RRRRRRR__RRR_RRRRCRRRRR_RRRR........................................................................................................................................................................................................

Now, assuming you are getting back the server-status info, time to make
sure your bb-hosts is correctly configured to collect and graph the
data.  Heres what I have in mine:

1.2.3.4    my.server.com  # conn ssh http://1.2.3.4 apache=http://1.2.3.4/server-status?auto LARRD:*,apache:apache|apache1|apache2|apache3

 From what you said of your setup, I'm guessing your only problem is
 using the wrong url for the apache tag (you used
 "apache=http://192.168.1.25/hobbit/" which just won't work - that's the
 kind of URL you would use for the http tag).

 Hope this helped.

 -Charles
</tt></pre>


<a name="updatefreq">
<h3>I need the web-pages to update more frequently</h3>
<p>The ~/server/etc/hobbitlaunch.cfg defines the update
interval for all of the Hobbit programs. The default is for
network tests to run every 5 minutes, and webpage updates to
happen once a minute.</p>
<p>Note that if you run the <em>bbretest-net.sh</em> tool
on your network test server (this is the default for a new
Hobbit server), then network tests that fail 
will run every minute for up to 30 minutes after the initial
failure, so usually there is little need to change the update
interval for your network tests.</p>

</body>
</html>
