#!/bin/sh

# This is the Hobbit CGI script interface to hobbitgraph.cgi
#
# Install this script in your webservers' cgi-bin directory

@RUNTIMEDEFS@ exec @BBHOME@/bin/hobbitgraph.cgi --env=@BBHOME@/etc/hobbitserver.cfg

