#
# The hobbittasks.cfg file is loaded by "hobbitlaunch".
# It controls which of the Hobbit modules to run, how often, and
# with which parameters, options and environment variables.
#

[client]
	ENVFILE @BBHOME@/etc/hobbitclient.cfg
	CMD @BBHOME@/bin/hobbitclient.sh
	LOGFILE @BBHOME@/logs/hobbitclient.log
	INTERVAL 5m

