#!/bin/sh

# This is the bbgen CGI script to display the eventlog
# It is the Hobbit version
#
# Install this script in your webservers' cgi-bin directory

@RUNTIMEDEFS@ exec @BBHOME@/bin/bb-eventlog.cgi --env=@BBHOME@/etc/hobbitserver.cfg

