var MENU_ITEMS = [
	['Views', null, null,
		['Main view', '@BBHOSTURL@/bb.html'],
		['All non-green view', '@BBHOSTURL@/bb2.html'],
		['NK view', '@BBHOSTURL@/bbnk.html'],
	],
	['Reports', null, null,
		['Availability Report', '@BBCGIURL@/bb-rep.sh'],
	],
	['Administration', null, null,
		['Find host', '@BBCGIURL@/bb-findhost.sh'],
		['Acknowledge alert', '@BBCGIURL@/bb-ack.sh'],
		['Enable/disable', '@BBCGIURL@/maint.pl'],
	],
        ['Help', null, null,
		['About Hobbit', '@BBHOSTURL@/help/about.html'],
		['Installing Hobbit', '@BBHOSTURL@/help/install.html'],
		['Configuring Hobbit Monitoring', '@BBHOSTURL@/help/hobbit-config.html'],
		['Configuring Hobbit Alerts', '@BBHOSTURL@/help/hobbit-alerts.html'],
		['Known problems', '@BBHOSTURL@/help/known-issues.html'],
		['Tips and Tricks', '@BBHOSTURL@/help/hobbit-tips.html'],
        ],
];

