div.tabs *
{
  display: inline;
}

div.tabs ul
{
  display: block;
  margin: 0;
  padding: 0.5em 0 0 0;
  font-size: 10px;
  list-style: none;
  text-align: left;
}

div.tabs li
{
  border-right: 1px solid #d7d7d7;
  padding: 0 0.75em;
  white-space: nowrap;
}

div.tabs form
{
  float: right;
}

div.tabs label, div.tabs input
{ 
  padding: 0 0.75em;
  font-size: 10px;
}

div#main div.nav
{ 
  margin: 0;
  padding: 1em 0 0 0.75em;
}

h1
{ 
  margin: 1em;
}
