# This file is used to setup options for the various Xymon
# CGI programs. It is loaded by the hobbit-cgi/*.sh wrapper
# scripts, and one environment variable is then passed to
# the command line used for each tool.

# NOTE: This file is parsed by the shell interpreter.
# So the usual "include" and "directory" definitions 
# will not work in this file.

XYMONENV=@BBHOME@/etc/xymonserver.cfg

# csvinfo.cgi
CGI_CSVINFO_OPTS="--env=$XYMONENV"
# hobbitcolumn.sh (uses csvinfo.cgi)
CGI_HOBBITCOLUMN_OPTS="--env=$XYMONENV --color=purple --hffile=columndoc"
# findhost.cgi
CGI_FINDHOST_OPTS="--env=$XYMONENV"

# svcstatus.cgi options for a normal (current) status display
CGI_SVC_OPTS="--env=$XYMONENV --no-svcid --history=top"

# history.cgi options (service history overview)
CGI_HIST_OPTS="--env=$XYMONENV --no-svcid"
# svcstatus.cgi options for a historical status display
CGI_SVCHIST_OPTS="--env=$XYMONENV --no-svcid"

# hobbitgraph.cgi options
CGI_HOBBITGRAPH_OPTS="--env=$XYMONENV"

# hobbitgraph.cgi options
CGI_HOSTGRAPHS_OPTS="--env=$XYMONENV"

# hobbit-confreport.cgi options
CGI_HOBBITCONFREPORT_OPTS="--env=$XYMONENV"

# datepage.cgi options
CGI_DATEPAGE_OPTS="--env=$XYMONENV --url=/xymon/periodic"
# report.cgi options
CGI_REP_OPTS="--env=$XYMONENV"
# reportlog.cgi options
CGI_REPLOG_OPTS="--env=$XYMONENV"
# snapshot.cgi options
CGI_SNAPSHOT_OPTS="--env=$XYMONENV"
# eventlog.cgi options
CGI_EVENTLOG_OPTS="--env=$XYMONENV"
# hobbit-nkview.cgi options
CGI_NKVIEW_OPTS="--env=$XYMONENV"
# hobbit-nkedit.cgi options
CGI_NKEDIT_OPTS="--env=$XYMONENV"
# hobbit-ackinfo.cgi options
CGI_ACKINFO_OPTS="--env=$XYMONENV"
#hobbit-ghosts.cgi options
CGI_GHOSTS_OPTS="--env=$XYMONENV"

# ack.cgi options
CGI_ACK_OPTS="--env=$XYMONENV --no-pin"
# hobbit-enadis.cgi options
CGI_ENADIS_OPTS="--env=$XYMONENV"

# hobbit-hostlist options
CGI_HOSTLIST_OPTS="--env=$XYMONENV"
# hobbit-notifylog options
CGI_NOTIFYLOG_OPTS="--env=$XYMONENV"
# hobbit-perfdata options
CGI_PERFDATA_OPTS="--env=$XYMONENV"
# hobbit-topchanges options
CGI_TOPCHANGE_OPTS="--env=$XYMONENV --top"
# hobbit-useradm options
CGI_USERADM_OPTS="--env=$XYMONENV"

