#
# The tasks.cfg file is loaded by "xymonlaunch".
# It controls which of the Xymon modules to run, how often, and
# with which parameters, options and environment variables.
#

# This is the main Xymon daemon. This must be running on at least
# one server in your setup. If you are setting up a server to do
# just network tests or run xymonproxy, it is OK to disable this (then
# you also need to remove the "NEEDS xymond" lines for the tasks
# you want to run).
[xymond]
	ENVFILE @BBHOME@/etc/xymonserver.cfg
	CMD xymond --pidfile=$BBSERVERLOGS/xymond.pid --restart=$BBTMP/xymond.chk --checkpoint-file=$BBTMP/xymond.chk --checkpoint-interval=600 --log=$BBSERVERLOGS/xymond.log --admin-senders=127.0.0.1,$BBSERVERIP --store-clientlogs=!msgs


# "bbstatus" saves status-logs in text- and html-format, like the old Big Brother 
# daemon does. Unless you are using add-ons that directly access the log-files, you 
# will not need to run this module, and it is recommended that you keep it disabled
# since storing the raw logs on disk can cause a significant load on your server.

[bbstatus]
	DISABLED
	ENVFILE @BBHOME@/etc/xymonserver.cfg
	NEEDS xymond
	CMD xymond_channel --channel=status --log=$BBSERVERLOGS/status.log xymond_filestore --status --html


# "bbhistory" keeps track of the status changes that happen, in a manner that is
# compatible with the Big Brother history logs. You probably do want to run this.

[bbhistory]
	ENVFILE @BBHOME@/etc/xymonserver.cfg
	NEEDS xymond
	CMD xymond_channel --channel=stachg --log=$BBSERVERLOGS/history.log xymond_history


# "hostdata" stores the Xymon client messages on disk when some status for a host
# changes. This lets you access a lot of data collected from a host around the time
# when a problem occurred. However, it may use a significant amount of disk space
# if you have lots of Xymon clients.
# Note: The --store-clientlogs option for the [xymond] provides control over
#       which status-changes will cause a client message to be stored.
[hostdata]
	ENVFILE @BBHOME@/etc/xymonserver.cfg
	NEEDS xymond
	CMD xymond_channel --channel=clichg --log=$BBSERVERLOGS/hostdata.log xymond_hostdata


# "bbdata" saves information sent using the BB "data" protocol, like the old Big Brother 
# daemon does. Unless you are using add-ons that directly access the data-files, you 
# will not need to run this module, and it is recommended that you keep it disabled
# since storing the raw data on disk can cause a significant load on your BB server.
# RRD graphs uses data-files, but since RRD is handled by the xymond_rrd module, you do
# not need to run the "bbdata" module to get RRD graphs.

[bbdata]
	DISABLED
	ENVFILE @BBHOME@/etc/xymonserver.cfg
	NEEDS xymond
	CMD xymond_channel --channel=data   --log=$BBSERVERLOGS/data.log xymond_filestore --data


# "bbnotes" saves web note-files, that are sent using the BB "notes" protocol. This is
# disabled by default; if you use the BB "notes" protocol, then you should enable this.

[bbnotes]
	DISABLED
	ENVFILE @BBHOME@/etc/xymonserver.cfg
	NEEDS xymond
	CMD xymond_channel --channel=notes  --log=$BBSERVERLOGS/notes.log xymond_filestore --notes


# "bbenadis" updates the files used to indicate that a host or test has been enabled or disabled.
# Unless you are running server side scripts that look at these files, you do not need this.

[bbenadis]
	DISABLED
	ENVFILE @BBHOME@/etc/xymonserver.cfg
	NEEDS xymond
	CMD xymond_channel --channel=enadis --log=$BBSERVERLOGS/enadis.log xymond_filestore --enadis


# "bbpage" sends out alerts. Note that this module is NOT compatible with the old Big Brother
# system - it uses a different configuration file to determine how alerts get sent. If you want
# alerts to go out via pager, e-mail or some other means, then you must run this module.

[bbpage]
	ENVFILE @BBHOME@/etc/xymonserver.cfg
	NEEDS xymond
	CMD xymond_channel --channel=page  --log=$BBSERVERLOGS/page.log xymond_alert --checkpoint-file=$BBTMP/alert.chk --checkpoint-interval=600


# "rrdstatus" updates RRD files with information that arrives as "status" messages.
# If you want RRD graphs of your monitoring data, then you want to run this.

[rrdstatus]
	ENVFILE @BBHOME@/etc/xymonserver.cfg
	NEEDS xymond
	CMD xymond_channel --channel=status --log=$BBSERVERLOGS/rrd-status.log xymond_rrd --rrddir=$BBVAR/rrd

# "rrddata" updates RRD files with information that arrives as "data" messages.
# If you want RRD graphs of your monitoring BB data, then you want to run this.

[rrddata]
	ENVFILE @BBHOME@/etc/xymonserver.cfg
	NEEDS xymond
	CMD xymond_channel --channel=data   --log=$BBSERVERLOGS/rrd-data.log xymond_rrd --rrddir=$BBVAR/rrd

# The client back-end module. You need this if you are running the Xymon client on any system.
[clientdata]
	ENVFILE @BBHOME@/etc/xymonserver.cfg
	NEEDS xymond
	CMD xymond_channel --channel=client --log=$BBSERVERLOGS/clientdata.log xymond_client


# "xymonproxy" is the Xymon proxy server that allows you to forward status messages
# from a protected network to your Xymon server. It is not enabled by default,
# since it would conflict with the xymond task.
# If you need to run this, disable xymond and the xymond-modules
# above and enable this. Make sure you enter the IP-address of your 
# Xymon server in the command-line, so that the proxy knows where to forward
# status messages.
[xymonproxy]
	DISABLED
	ENVFILE @BBHOME@/etc/xymonserver.cfg
	CMD $BBHOME/bin/xymonproxy --server=YOUR.XYMON.SERVER.IP --report=$MACHINE.bbproxy --no-daemon --pidfile=$BBSERVERLOGS/xymonproxy.pid
	LOGFILE $BBSERVERLOGS/xymonproxy.log


# "xymonfetch" is used when you have clients that cannot connect to your Xymon server,
# but the Xymon server can connect to the client. Normally the clients will initiate
# a connection to the Xymon server to deliver the data they collect, but this is
# forbidden in some firewall setups. By enabling the xymonfetch task, hosts that have
# the "pulldata" tag in the hosts.cfg file will be polled by xymonfetch for their data.
#
# NOTE: On the clients you must enable the "msgcache" task, since this is what 
#       xymonfetch is talking to.
[xymonfetch]
	DISABLED
	ENVFILE @BBHOME@/etc/xymonserver.cfg
	CMD $BBHOME/bin/xymonfetch --server=YOUR.XYMON.SERVER.IP --no-daemon --pidfile=$BBSERVERLOGS/xymonfetch.pid
	LOGFILE $BBSERVERLOGS/xymonfetch.log


# "bbdisplay" runs the bbgen tool to generate the Xymon webpages from the status information that
# has been received. Big Brother updated the webpages once every 5 minutes. The default here is to
# run it every minute for faster updates, but you can change it if you have a highly loaded server
# and dont need updates that often.

[bbdisplay]
	ENVFILE @BBHOME@/etc/xymonserver.cfg
	NEEDS xymond
	GROUP generators
	CMD bbgen $BBGENOPTS --report
	LOGFILE $BBSERVERLOGS/bb-display.log
	INTERVAL 1m

# combostatus is an extension script for the Xymon display server. It generates
# status messages that are combined from the status of one or more normal statuses.
# It is controlled via the combo.cfg file.
[combostatus]
	ENVFILE @BBHOME@/etc/xymonserver.cfg
	NEEDS xymond
	CMD $BBHOME/bin/combostatus
	LOGFILE $BBSERVERLOGS/combostatus.log
	INTERVAL 5m

# "xymonnet" runs the xymonnet tool to perform the network based tests - i.e. http, smtp, ssh, dns and
# all of the various network protocols we need to test.

[xymonnet]
	ENVFILE @BBHOME@/etc/xymonserver.cfg
	NEEDS xymond
	CMD xymonnet --report --ping --checkresponse
	LOGFILE $BBSERVERLOGS/xymonnet.log
	INTERVAL 5m


# "xymonnetagain" picks up the tests that the normal network test consider "failed", and re-does those
# tests more often. This enables Xymon to pick up a recovered network service faster than
# if it were tested only by the "xymonnet" task (which only runs every 5 minutes). So if you have
# servers with very high availability guarantees, running this task will make your availability
# reports look much better.

[xymonnetagain]
	ENVFILE @BBHOME@/etc/xymonserver.cfg
	NEEDS xymond
	CMD $BBHOME/ext/xymonnet-again.sh
	LOGFILE $BBSERVERLOGS/xymonnetagain.log
	INTERVAL 1m


# "xymonclient" runs the Xymon client. The client is installed automatically
# when you install a Xymon server (presumably, you do want to monitor the 
# Xymon server ?), but there's no need to have two xymonlaunch instances
# running at the same time. So we'll just run it from here.
# Note: If you are using another client package, you should disable this one.

[xymonclient]
	ENVFILE @BBTOPDIR@/client/etc/xymonclient.cfg
	NEEDS xymond
	CMD @BBTOPDIR@/client/bin/xymonclient.sh
	LOGFILE $BBSERVERLOGS/xymonclient.log
	INTERVAL 5m

