BODY {
        font-size: 70%;
        font-family : Verdana, Arial, Helvetica, sans-serif;
}

P {
        text-align: left;
        margin-top : 5.00pt;
        margin-bottom : 0.00pt;
}

H1 {
        margin-top:6.00pt;
        margin-bottom:9.00pt;
        text-align:left;
        font-size:16pt;
        color:#006600;
        font-weight:bold;
        border-bottom : thin solid #006600;
		content: ' *' url(green.gif);
}

H2 {
	margin-top:6.00pt;
	margin-bottom:9.00pt;
	text-align:left;
	font-size:120%;
	font-weight:bold;
	font-style : italic;
	color : #006600;
}

H3 {
        margin-top:6.00pt;
        margin-bottom:0.00pt;
        text-align: left;
        font-size:125%;
        font-weight:bold;
}

H4 {
        margin-left:18.10pt;
        margin-top:6.00pt;
        margin-bottom:0.00pt;
        text-indent:-10.10pt;
        text-align:left;
        font-size:16pt;
        font-weight: bold;
        text-decoration:underline;
}

P.Body-Text {
        margin-top:5.00pt;
        margin-bottom:0.00pt;
        text-align: left;
}

P.TOC-Base {
        margin-top:0.00pt;
        margin-bottom:0.00pt;
        text-align: left;
}

P.Jump-from-Contents {
        margin-left:20.00pt;
        margin-top:1.00pt;
        margin-bottom:0.00pt;
        text-align: left;
        text-decoration:underline;
}

P.RelatedHead {
        margin-top:9.00pt;
        margin-bottom:1.00pt;
        text-align: left;
        font-size:125%;
        color:#006600;
        font-weight:bold;
}

P.Jump {
        margin-top:0.00pt;
        margin-bottom:3.00pt;
        text-align: left;
        text-decoration:underline;
}

P.Jump-from-List {
        margin-top:0.00pt;
        margin-bottom:3.00pt;
        text-align: left;
        text-decoration:underline;
}

P.TableText {
        margin-left:3.60pt;
        margin-right:3.60pt;
        margin-top:2.00pt;
        margin-bottom:2.00pt;
        text-align:left;
}

P.TableHeading {
        margin-left:3.60pt;
        margin-right:3.60pt;
        margin-top:3.00pt;
        margin-bottom:0.00pt;
        text-align: left;
        font-weight:bold;
}

P.Indented-text {
        margin-left:36.00pt;
        margin-top:5.00pt;
        margin-bottom:0.00pt;
        text-align: left;
}

LI.Indented-text{
        margin-left:36.00pt;
        margin-top:5.00pt;
        margin-bottom:0.00pt;
        text-align: left;
}

P.Bullet-Number {
        margin-left:36.00pt;
        margin-top:5.00pt;
        margin-bottom:0.00pt;
        text-indent:-18.00pt;
        text-align: left;
}

P.Context-Help {
        margin-top:6.00pt;
        margin-bottom:0.00pt;
        text-align: left;
}

P.Bullet-Number-2 {
        margin-left:54.00pt;
        margin-top:5.00pt;
        margin-bottom:0.00pt;
        text-indent:-18.00pt;
        text-align: left;
}

LI {
        margin-top:5.00pt;
         margin-bottom:0pt;
        text-align: left;
}

LI.Continue{
        margin-top:5.00pt;
        text-align: left;
        list-style : none;
}

Table {
		font-size:100%;
}
TD.RightAlign {
        text-align : right;
}
TR.order-form {
	height:0.22in
}

/* Links styles */

A:link  {
	text-decoration : none; 
	color: #006600;
	font-weight: bold;
}

A:visited  {
	text-decoration : none; 
	color: #006600;
	font-weight: bold;
}


A:active {
	text-decoration: none;
	color: #006600;
	font-weight: bold;
	text-decoration: underline;
}

A:hover {
	text-decoration: none; 
	color: #006600;
	font-weight: bold;
	text-decoration: underline;
}


/* XML Configuration example */

.Config {
	font-size: 9.0pt; 
	font-family: Courier New; 
	margin-left: 0.5in; 
	margin-right: 0.5in; 
	background: #CCFFCC;
}

.Command {
	font-size: 9.0pt; 
	font-family: Courier New; 
	margin-left: 0.5in; 
	margin-right: 0.5in; 
	background: #FFFFCC;
}


/*  CSS for options table */

.OptionTable {
	border-collapse: collapse; 
	border: medium none; 
	margin-left: -0.4pt;
	border-color: black;
}

.OptionTitle {
	width: 4.25in; 
	border: 1pt solid windowtext; 
	padding-left: 5.4pt; 
	padding-right: 5.4pt; 
	padding-top: 0.2in; 
	padding-bottom: 0.2in; 
	margin-right: 0.5in;
	border-color: black;
	background: #e0e0e0;
	font-weight: bold;
}


.OptionValue {
	width: 4.25in; 
	border-right: 1pt solid windowtext; 
	border-top: 1pt solid windowtext; 
	border-bottom: 1pt solid windowtext; 
	padding-left: 5.4pt; 
	padding-right: 5.4pt; 
	padding-top: 0in; 
	padding-bottom: 0in;
	margin-right: 0.5in;
	border-color: black;
}

a:link img, a:visited img {
    border-style: none;
}
