# Environment settings for the Xymon client.

XYMSRV="@XYMONHOSTIP@"          # IP address of the Xymon server
XYMSERVERS=""                   # IP of multiple Xymon servers. XYMSRV must be "0.0.0.0".
CONFIGCLASS="$SERVEROSTYPE"     # Default configuration class for logfiles

PATH="/bin:/usr/bin:/sbin:/usr/sbin:/etc"  # PATH setting for the client scripts.
SHELL="/bin/sh"				# Shell to use when forking programs

# You normally don't need to modify anything below here
XYMONDPORT="1984"                   # Portnumber where xymond listens
XYMONHOME="$XYMONCLIENTHOME"       # Directory for the Xymon client files
XYMON="$XYMONHOME/bin/xymon"          # The Xymon client "xymon" utility
XYMONTMP="$XYMONHOME/tmp"             # Where we may store temporary files.
XYMONCLIENTLOGS="$XYMONHOME/logs"     # Where we store the client logfiles
XYMONRUNDIR="$XYMONCLIENTLOGS"	      # Where we store pid and other run files

# Options to logfetch, the xymon binary which examines log files for recent changes.
LOGFETCHOPTS=""

# Options to xymond_client. Used only if this install is running in local client mode.
XYMONLOCALCLIENTOPTS=""


# Message compression
# Xymon clients can compress messages before sending to the xymon server to save on bandwidth.
# This requires version 4.4 of higher of xymond to be running. If using a format other than "lzo",
# the destination server must have been compiled with support for your algorithm.
# 
# If your destination is a xymonproxy, you are running in server-side (non-local) config mode,
# and you are not running in $STATUSMODE, you should NOT enable compression as your client 
# messages will not return a logfetch configuration.
COMPRESSION="TRUE"		# Set to "TRUE" to enable for xymon client processes 
COMPRESSTYPE="lzo"		# Default is "lzo" unless "lz4hc" is available
				# See README.compresson for more details


# Auto-include any files dropped into the directory below
optional directory @XYMONHOME@/etc/xymonclient.cfg.d


# Compatibility settings
HOBBITCLIENTHOME="$XYMONCLIENTHOME"

BBDISP="$XYMSRV"
BBDISPLAYS="$XYMSERVERS"

BBPORT="$XYMONDPORT"
BBHOME="$XYMONHOME"
BB="$XYMON"
BBTMP="$XYMONTMP"
BBCLIENTLOGS="$XYMONCLIENTLOGS"

