# Environment settings for the Xymon client.
optional include /etc/default/xymon-client
optional include /etc/sysconfig/xymon-client

XYMSRV="0.0.0.0"                # IP address of the Xymon server
XYMSERVERS="$XYMONSERVERS"      # IP of multiple Xymon servers. XYMSRV must be "0.0.0.0".
CONFIGCLASS="$SERVEROSTYPE"     # Default configuration class for logfiles

PATH="/bin:/usr/bin:/sbin:/usr/sbin:/etc"  # PATH setting for the client scripts.
SHELL="/bin/sh"				# Shell to use when forking programs

# You normally don't need to modify anything below here
XYMONDPORT="1984"                   # Portnumber where xymond listens
XYMONHOME="$XYMONCLIENTHOME"       # Directory for the Xymon client files
XYMON="$XYMONHOME/bin/xymon"          # The Xymon client "xymon" utility
XYMONTMP="$XYMONHOME/tmp"             # Where we may store temporary files.
XYMONCLIENTLOGS="$XYMONHOME/logs"     # Where we store the client logfiles
XYMONRUNDIR="$XYMONHOME/logs"         # Where we store pid and other run files

# Options to logfetch, the xymon binary which examines log files for recent changes.
LOGFETCHOPTS=""


# Local Mode (Only) Options
#
# Running the Xymon client in local-config mode will cause threshold evaluation to
# be performed locally rather than sending raw data sent to the Xymon server for
# analysis. Only the processed results will be forwarded to your Xymon server.
# 
# This can also be overridden by adding a "--local" option to xymonclient.sh in
# the $XYMONHOME/etc/clientlaunch.cfg file
LOCALMODE="no"

# Local config for xymond_client (Ignored when not in local mode)
# This file is in the same format as analysis.cfg(5) on the Xymon server
LOCAL_CLIENTCONFIG="$XYMONHOME/etc/localclient.cfg"

# Local config for logfetch (Ignored when not in local mode)
# If not present, any saved server-side configs will be used
LOCAL_LOGFETCHCFG="$XYMONHOME/etc/logfetch.cfg"

# Local options for xymond_client (Ignored when not in local mode)
LOCAL_CLIENTOPTS=""


# Message compression
# Xymon clients can compress messages before sending to the xymon server to save on bandwidth.
# This requires version 4.4 of higher of xymond to be running. If using a format other than "lzo",
# the destination server must have been compiled with support for your algorithm.
# 
# If your destination is a xymonproxy, you are running in server-side (non-local) config mode,
# and you are not running in $STATUSMODE, you should NOT enable compression as your client 
# messages will not return a logfetch configuration.
COMPRESSION="TRUE"		# Set to "TRUE" to enable for xymon client processes 
COMPRESSTYPE="lzo"		# Default is "lzo" unless "lz4hc" is available
				# See README.compresson for more details


# Auto-include any files dropped into the directory below
optional directory @XYMONHOME@/etc/xymonclient.cfg.d


# Compatibility settings
HOBBITCLIENTHOME="$XYMONCLIENTHOME"

BBDISP="$XYMSRV"
BBDISPLAYS="$XYMSERVERS"

BBPORT="$XYMONDPORT"
BBHOME="$XYMONHOME"
BB="$XYMON"
BBTMP="$XYMONTMP"
BBCLIENTLOGS="$XYMONCLIENTLOGS"

