# This file is used to setup options for the various Xymon
# CGI programs. It is loaded by the ~xymon/cgi-bin/*.sh wrapper
# scripts, and one environment variable is then passed to
# the command line used for each tool.

# NOTE: This file is parsed by the shell interpreter.
# So the usual "include" and "directory" definitions 
# will not work in this file.

XYMONENV=@XYMONHOME@/etc/xymonserver.cfg

# csvinfo.cgi
CGI_CSVINFO_OPTS="--env=$XYMONENV"
# columndoc.sh (uses csvinfo.cgi)
CGI_COLUMNDOC_OPTS="--env=$XYMONENV --color=purple --hffile=columndoc"
# findhost.cgi
CGI_FINDHOST_OPTS="--env=$XYMONENV"

# svcstatus.cgi options for a normal (current) status display
CGI_SVC_OPTS="--env=$XYMONENV --no-svcid --history=top"

# history.cgi options (service history overview)
CGI_HIST_OPTS="--env=$XYMONENV --no-svcid"
# svcstatus.cgi options for a historical status display
CGI_SVCHIST_OPTS="--env=$XYMONENV --no-svcid"

# showgraph.cgi options
CGI_SHOWGRAPH_OPTS="--env=$XYMONENV"

# showgraph.cgi options
CGI_HOSTGRAPHS_OPTS="--env=$XYMONENV"

# confreport.cgi options
CGI_CONFREPORT_OPTS="--env=$XYMONENV"

# datepage.cgi options
CGI_DATEPAGE_OPTS="--env=$XYMONENV --url=/xymon/periodic"
# report.cgi options
CGI_REP_OPTS="--env=$XYMONENV"
# reportlog.cgi options
CGI_REPLOG_OPTS="--env=$XYMONENV"
# snapshot.cgi options
CGI_SNAPSHOT_OPTS="--env=$XYMONENV"
# eventlog.cgi options
CGI_EVENTLOG_OPTS="--env=$XYMONENV"
# criticalview.cgi options
CGI_CRITVIEW_OPTS="--env=$XYMONENV"
# criticaleditor.cgi options
CGI_CRITEDIT_OPTS="--env=$XYMONENV"
# ackinfo.cgi options
CGI_ACKINFO_OPTS="--env=$XYMONENV"
#ghostlist.cgi options
CGI_GHOSTS_OPTS="--env=$XYMONENV"

# ack.cgi options
CGI_ACK_OPTS="--env=$XYMONENV --no-pin"
# enadis.cgi options
CGI_ENADIS_OPTS="--env=$XYMONENV"

# hostlist options
CGI_HOSTLIST_OPTS="--env=$XYMONENV"
# notifications options
CGI_NOTIFYLOG_OPTS="--env=$XYMONENV"
# acknowledgements options
CGI_ACKNOWLEDGEMENTSLOG_OPTS="--env=$XYMONENV"
# perfdata options
CGI_PERFDATA_OPTS="--env=$XYMONENV"
# topchanges options
CGI_TOPCHANGE_OPTS="--env=$XYMONENV --top"
# useradm options
CGI_USERADM_OPTS="--env=$XYMONENV"
# appfeed options
CGI_APPFEED_OPTS="--env=$XYMONENV"

