#!/bin/sh

# This is the Hobbit CGI script interface to hobbit-confreport.cgi
#
# Install this script in your webservers' cgi-bin directory

. @BBHOME@/etc/hobbitcgi.cfg
@RUNTIMEDEFS@ exec @BBHOME@/bin/hobbit-confreport.cgi $CGI_HOBBITCONFREPORT_OPTS

