#!/bin/sh

# This is the bbgen CGI wrapper for the bb-csvinfo.cgi program.
# It is the Hobbit version.
#
# Install this script in your webservers' cgi-bin directory, where you
# already have a bb-rep.sh script.

@RUNTIMEDEFS@ exec @BBHOME@/bin/bb-csvinfo.cgi --env=@BBHOME@/etc/hobbitserver.cfg

