# Environment settings for the Xymon client.

BBDISP="@BBHOSTIP@"             # IP address of the Xymon server
BBDISPLAYS=""                   # IP of multiple Xymon servers. BBDISP must be "0.0.0.0".
CONFIGCLASS="$BBOSTYPE"         # Default configuration class for logfiles

PATH="/bin:/usr/bin:/sbin:/usr/sbin:/etc"  # PATH setting for the client scripts.

# You normally dont need to modify anything below here
BBPORT="1984"                   # Portnumber where xymond listens
BBHOME="$XYMONCLIENTHOME"       # Directory for the Xymon client files
BB="$BBHOME/bin/xymon"          # The Xymon client "xymon" utility
BBTMP="$BBHOME/tmp"             # Where we may store temporary files.
BBCLIENTLOGS="$BBHOME/logs"     # Where we store the client logfiles

