#!/bin/sh

# This uses the hobbit-statusreport.cgi to provide a list
# of all non-green statuses with a brief summary of what is wrong.

. @BBHOME@/etc/hobbitcgi.cfg

@RUNTIMEDEFS@ exec @BBHOME@/bin/hobbit-statusreport.cgi \
	--filter="color=red,yellow" --all \
	--heading="All non-green systems" \
	--show-column \
	--show-summary \
	--link

