#!/bin/sh

QS="${QUERY_STRING}"
QUERY_STRING="db=columndoc.csv&key=${QS}"
export QUERY_STRING

@RUNTIMEDEFS@ exec @BBHOME@/bin/bb-csvinfo.cgi  \
     --env=@BBHOME@/etc/hobbitserver.cfg \
     --color=purple --hffile=columndoc

