#!/bin/sh

# This is the bbgen CGI script interface to bb-larrdgraph.cgi
# It is the bbgend version.
#
# Install this script in your webservers' cgi-bin directory

exec @BBHOME@/bin/bb-larrdgraph.cgi --env=@BBHOME@/etc/bbserver.env

