# This file is for Apache 1.3.x and Apache 2.0.x
#
# Add this to your Apache configuration, it makes
# the BB webpages and cgi-scripts available in the
# "/bb/" URL.

Alias /bb/  @BBHOME@/www/
<Directory "@BBHOME@/www">
    Options Indexes FollowSymLinks Includes MultiViews
    Order allow,deny
    Allow from all
</Directory>

ScriptAlias /bb-cgi/ "@CGIDIR@"
<Directory "@CGIDIR@">
    Options ExecCGI Includes
    Order allow,deny
    Allow from all
</Directory>

