#!/bin/sh

CONFIGFILE=/etc/hobbit/hobbitserver.cfg

set -e
. /usr/share/debconf/confmodule

if [ -e $CONFIGFILE ]; then
   . $CONFIGFILE || true
fi

if [ "$BBHOSTNAME" != "" -a "$BBHOSTNAME" != "localhost" ]; then
   db_set hobbit/BBHOSTNAME $BBHOSTNAME
else
   db_set hobbit/BBHOSTNAME `hostname`
fi

if [ "$BBWWWHOSTNAME" != "" -a "$BBWWWHOSTNAME" != "localhost" ]; then
   db_set hobbit/BBWWWHOSTNAME $BBWWWHOSTNAME
else
   db_set hobbit/BBWWWHOSTNAME `hostname`
fi

if [ "$BBHOSTIP" != "" -a "$BBHOSTIP" != "127.0.0.1" ]; then
   db_set hobbit/BBHOSTIP $BBHOSTIP
else
   db_set hobbit/BBHOSTIP 127.0.0.1
fi

db_input medium hobbit/BBHOSTNAME || true
db_input medium hobbit/BBWWWHOSTNAME || true
db_input medium hobbit/BBHOSTIP || true
db_go || true

