#!/bin/sh

CONFIGFILE=/etc/hobbit/hobbitserver.cfg

set -e
. /usr/share/debconf/confmodule

if [ -e $CONFIGFILE ]; then
   . $CONFIGFILE || true
fi

if [ "$BBHOSTNAME" != "" -a "$BBHOSTNAME" != "localhost" ]; then
   db_set hobbit/BBHOSTNAME $BBHOSTNAME
else
   db_set hobbit/BBHOSTNAME `hostname`
fi

if [ "$BBHOSTIP" != "" -a "$BBHOSTIP" != "127.0.0.1" ]; then
   db_set hobbit/BBHOSTIP $BBHOSTIP
else
   db_set hobbit/BBHOSTIP 127.0.0.1
fi

if [ "$BBSERVERWWWHOSTNAME" != "" -a "$BBSERVERWWWHOSTNAME" != "localhost" ]; then
   db_set hobbit/BBSERVERWWWHOSTNAME $BBSERVERWWWHOSTNAME
else
   db_set hobbit/BBSERVERWWWHOSTNAME `hostname`
fi

if [ "$BBSERVERWWWURL" != "" ]; then
   db_set hobbit/BBSERVERWWWURL $BBSERVERWWWURL
else
   db_set hobbit/BBSERVERWWWURL "/hobbit"
fi

if [ "$BBLOCATION" != "" ]; then
   db_set hobbit/BBLOCATION $BBLOCATION
else
   db_set hobbit/BBLOCATION ""
fi

db_input medium hobbit/BBHOSTNAME || true
db_input medium hobbit/BBHOSTIP || true
db_input medium hobbit/BBSERVERWWWHOSTNAME || true
db_input medium hobbit/BBSERVERWWWURL || true
db_input medium hobbit/ADMUSER || true
db_input medium hobbit/ADMPWD || true
db_input medium hobbit/BBLOCATION || true
db_go || true

