#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)


CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

Makefile: configure
	dh_testdir
	# Add here commands to configure the package.
	TARGET=hobbit \
	ENABLESSL=y \
	ENABLELDAP=y \
	ENABLELDAPSSL=y \
	BBUSER=hobbit \
	BBTOPDIR=/usr/lib/hobbit \
	BBVAR=/var/lib/hobbit \
	BBHOSTURL=/hobbit \
	CGIDIR=/usr/lib/hobbit/cgi-bin \
	BBCGIURL=/hobbit-cgi \
	SECURECGIDIR=/usr/lib/hobbit/cgi-secure \
	SECUREBBCGIURL=/hobbit-seccgi \
	HTTPDGID=www-data \
	BBLOGDIR=/var/log/hobbit \
	BBHOSTNAME=localhost \
	BBHOSTIP=127.0.0.1 \
	MANROOT=/usr/share/man \
	BARS=all \
	USENEWHIST=y \
	PIXELCOUNT=960 \
	INSTALLBINDIR=/usr/lib/hobbit/server/bin \
	INSTALLETCDIR=/etc/hobbit \
	INSTALLEXTDIR=/usr/lib/hobbit/server/ext \
	INSTALLTMPDIR=/var/lib/hobbit/tmp \
	INSTALLWWWDIR=/var/lib/hobbit/www \
	./configure

build: build-stamp

build-stamp:  Makefile
	dh_testdir

	# Add here commands to compile the package.
	PKGBUILD=1 $(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp 

	# Add here commands to clean up after the build process.
	-$(MAKE) distclean


	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/hobbit.
	PKGBUILD=1 INSTALLROOT=$(CURDIR)/debian/hobbit/ $(MAKE) install


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs Changes
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
	dh_installdebconf	
	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_python
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
