#!/bin/sh

# This is the bbgen drop-in replacement for the Big Brother histlog
# script, bb-histlog.sh
# It is the bbgend version.

exec @BBHOME@/bin/bb-hostsvc.cgi --env=@BBHOME@/etc/bbserver.env --historical

