# Configure the Xymon client settings.

# You MUST set the list of Xymon servers that this
# client reports to.
# It is good to use IP-adresses here instead of DNS
# names - DNS might not work if there's a problem.
# (Internally this will be translated to BBDISP and BBDISPLAYS
# variables in /var/run/xymon/bbdisp-include.cfg)
#
# E.g. (a single Xymon server)
#   XYMONSERVERS="192.168.1.1"
# or (multiple servers)
#   XYMONSERVERS="10.0.0.1 192.168.1.1"

XYMONSERVERS=""

# Hostname used by the client for its reports.
# Must match the name for this host in the Xymon servers'
# hosts.cfg file.

CLIENTHOSTNAME=""
